<div class="container mt-3">
  <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="getFilms()" autocomplete="off">
    <div class="form-group">
      <label>Search title</label>
      <input type="text" class="form-control ml-1" style="width : 70%;"
             name="title" [(ngModel)]="filmParams.titleFilter" />
    </div>
    <button class="btn btn-primary ml-1" data-toggle="tooltip" data-placement="top" title="Give full title" type="submit">Apply filter</button>
    <button (click)="resetFilters()" class="btn btn-info ml-1" type="submit">Reset filter</button>
  </form>
</div>
<br />

<p *ngIf="!films"><em>Loading...</em></p>
<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="m-4">
        <div *ngFor="let film of films" class="media p-4">
          <img class="align-self-center mr-3" src="https://images.pexels.com/photos/4652275/pexels-photo-4652275.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" style="width:15%;" alt="Film photo">
          <div class="media-body">
            <h4 class="mt-0" style="cursor: pointer;" routerLink="/film-with-comments/{{film.id}}/{{film.title}}">{{film.title}}</h4>
            <span>{{film.director}} </span><span>{{film.genre}} - </span><span>{{film.yearOfRelease}}</span>
            <p class="mb-0">{{film.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination [boundaryLinks]="true"
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              [maxSize]="5"
              (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;"
              nextText="&rsaquo;"
              firstText="&laquo;"
              lastText="&raquo;">
  </pagination>
</div>
