<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="m-4">
        <div class="media p-4">
          <img class="align-self-center mr-3" src="https://images.pexels.com/photos/4652275/pexels-photo-4652275.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" style="width:15%;" alt="Film photo">
          <div class="media-body" style="background-color: #00ffff">
            <h4 class="mt-0">{{film.title}}</h4>
            <span>{{film.director}} </span><span>{{film.genre}} - </span><span>{{film.yearOfRelease}}</span>
            <p class="mb-0">{{film.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
