<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="m-4">
        <div class="media p-4">
          <div class="media-body" style="background-color: #00ffff">
            <span>{{film.comment.text}} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div>Film({{film.id}})</div>
<div><a routerLink="/">Back</a></div>
<a routerLink="/1/comment">Comment</a>
<router-outlet></router-outlet>
<div *ngFor="let comment of film.comments">
  <app-film-card [comment]="comment"></app-film-card>
</div>-->
