<h1 id="tableLabel">Films</h1>

<p>This component lists films.</p>

<p *ngIf="!films"><em>Loading...</em></p>

<div>
  <button class="btn btn-primary" (click)="goToAddFilm()">Add new film</button>
</div>
<br />

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="films">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Genre</th>
      <th>Duration</th>
      <th>Year of release</th>
      <th>Director</th>
      <th>Date added</th>
      <th>Edit film</th>
      <th>Delete film</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let film of films">
      <td>{{ film.id }}</td>
      <td>{{ film.title }}</td>
      <td>{{ film.description }}</td>
      <td>{{ film.genre }}</td>
      <td>{{ film.duration }}</td>
      <td>{{ film.yearOfRelease }}</td>
      <td>{{ film.director }}</td>
      <td>{{ film.dateAdded | date:'medium'}}</td>
      <td><img id="edit-icon" style="width: 2em" src="https://toppng.com/uploads/preview/75476-2019-02-08-edit-icon-png-small-11563142463qiwrzqx0e1.png" alt="Edit film" routerLink="/films/{{film.id}}"></td>
      <td><img id="delete-icon" style="width: 2em" src="https://icon-library.com/images/delete-icon-transparent-background/delete-icon-transparent-background-12.jpg" alt="Delete icon" (click)="deleteFilm(film)" /></td>
    </tr>
  </tbody>
</table>
